@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
  
    <address>
        DINAS KEBUDAYAAN DAN PARIWISATA KOTA JAYAPURA<br />
        Jl. Kelapa Dua entrop<br />
        <abbr title="">(0967)553445</abbr>
   
    </address>

    <address>
      
    </address>


</div>