
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="well fill" style="height:500px" >
    <h2 style="text-align:center">SELAMAT DATANG</h2>
    <h3 style="text-align:center">DINAS KEBUDAYAAN DAN PARIWISATA</h3>
    <h2 style="text-align:center">KOTA JAYAPURA</h2>
    
</div>

<style type="text/css">

    .fill {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url('../../Images/Hamadi1.jpg');
    }
</style>