
@{
    ViewBag.Title = "NotHaveAccess";
    Layout = "~/Views/Shared/Error.cshtml";
}

<br />
  <div class="container" style="width:100%; height:90%">
        <div style="margin:20px">
            <h4>  Anda Tidak Memiliki Hak Akses....</h4> 
            <br />
          <h4>  Silahkan Login / Registrasi </h4> 
        </div>
    </div>
