
@{
    ViewBag.Title = "Sejarah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Wisata Jayapura</h1>
    <div class="page-header">
        <div class="row fill" style="align-content:center;height:400px">

        </div>
    </div>
    <p style="text-align: center;"><span style="font-size:16px"><strong>SEJARAH KOTA JAYAPURA</strong></span></p>

    <p style="margin-left: 58.5pt; text-align: justify;">Kota Jayapura telah sejak lama bersentuhan dengan dunia luar. Hal ini ditunjukkan dengan adanya&nbsp; Orang-orang luar yang pernah singgah di tanah Papua ini adalah orang Spanyol yang pernah mengarungi samudera dan bersentuhan dengan orang-orang Indonesia pada umumnya dan orang-orang Irian pada khususnya. Sejarah arung samudera telah mencatat secara baik seseorang berbangsa Spanyol bernama YNICO ORTIS DE FRETES. Dengan kapalnya bernama &ldquo;SAN JUAN&ldquo; pada tanggal 16 Mei 1545&nbsp;&nbsp; berangkat dari Tidore ke Mexico. Dalam perjalanan Ortis de Fretes tersebut tiba disekitar muara sungai Mamberamo pada tanggal 16 Juni 1545 memberikan nama NOVA GUINEA kepada orang-orang dan tanah Papua atau Irian Jaya. Sesudah Ortis de Frets menyusul lagi pengarung &ndash; pengarung samudera yang lain antara lain ALVARO MEMDANA DE NEYRA (1567), ANTOMIO MARTA (1591&ndash;1593), dan lain-lain. Dapat disimpulkan bahwa orang-orang Spanyol pun pernah ada kontak dan sentuhan dengan penduduk di Jayapura dan sekitarnya. Secara khusus sejarah tentang Kota Jayapura sebagai berikut :</p>

    <p style="margin-left: 58.5pt; text-align: justify;">Selanjutnya Besleit (Surat Keputusan) Gubernemen Hindia Belanda Nomor 4 tanggal 28 Agustus 1909 kepada Asisten residen, di Manokwari diperbantukan 1 detasemen&nbsp; (4 Perwira + 80 tentara). Dalam surat keputusan tersebut antara lain tertera (dalam bahasa Belanda) diterjemahkan ke dalam Bahasa Indonesia.</p>

    <p style="margin-left: 58.5pt; text-align: justify;">Sebagai lanjutan dari pelaksanaan surat keputusan ini, maka pada tanggal 28 September 1909 kapal &ldquo;EDI&rdquo; mendaratkan satu detasemen tentara dibawah komando Kepten Infanteri F.J.P SACHSE, segera dimulai menebang pohon-pohon kelapa sebanyak 40 pohon, tetapi segera pula pembayaran ganti rugi harus dilakukan kepada pemiliknya seharga 40 ringgit atau 40 x f2,50 = f100,- (seratus gulden/rupiah). Suatu jumlah uang yang sangat besar waktu itu &ndash; 1910 seorang ahli lain bernama KIELICH menulis &rdquo;Hollandia kostte vierting (40) rijk daalders&ldquo; Jayapura harganya 40 ringgit atau f100,- (seratus gulden/rupiah). Berdirilah kompamen pertama yang terdiri dari tenda-tenda, tetapi segera diusahakan untuk mendirikan perumahan-perumahan dari bahan sekitar tempat itu. Penghuni-penghuni pertama terdiri dari 4 Perwira, 80 anggota tentara, 60 pemikul, beberapa pembantu dan isteri-isteri para angkatan bersenjata ini, total keseluruhan berjumlah 290 orang. Ada 2 sungai masing-masing Numbai dan Anafri yang menyatu dan bermuara di teluk&nbsp; Numbai&nbsp; atau&nbsp; Yos Sudarso, dengan sebutan populer muara sungai Numbai.</p>

</div>
<style type="text/css">
    .fill {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url('../../Images/Jayapura-tahun-1955.jpg');
    }
</style>