
@{
    ViewBag.Title = "StrukturOrganisasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">


    <div class="page-header fill" style="height:400px">
       
        <h2 style="margin-left:20px">Struktur Organisasi</h2>
       
    </div>


    <div style=" margin:50px">
        
        <br />
        <img  src="~/Images/struktur.jpg" />
    </div>

</div>
<style type="text/css">
    .fill {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url('../../Images/Papua - Jayapura City - M.Randy2015Jayapura.jpg');

    }
</style>