
@{
    ViewBag.Title = "VisiMisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="page-header fill">
        <div class="row" style="align-content:center; height:400px">
        </div>
    </div>

    <p style="text-align: center;"><span style="font-size:18px"><strong>VISI DAN MISI</strong></span></p>

    <p style="text-align: justify; margin-left: 40px;">&nbsp;</p>

    <p style="text-align: justify; margin-left: 40px;"><span style="font-size:16px"><strong style="font-size:14px; line-height:22.4px">V I S I</strong></span></p>

    <p style="margin-left: 40px; text-align: justify;">Visi adalah rumusan umum mengenai keadaan yang diinginkan pada akhir periode perencanaan, untuk mewujudkan suatu nsasaran yang mungkin dicapai dalam jangka waktu tertentu. Penetapan visi sebagai bagian dari perencanaan strategi, merupakan satu langkah penting dalam perjalanan suatu organisasi karena dengan visi tersebut akan dapat mencerminkan apa yang hendak dicapai oleh organisasi serta memberikan arah dan fokus strategis yang berorientasi terhadap masa depan pembangunan dan bahkan menjamin kesinambungan pelaksanaan tugas organisasi. Maka ditetapkan <strong>visi dinas kebudayaan dan pariwisata kota jayapura tahun 2012-2016 </strong>adalah :</p>

    <p style="margin-left: 40px; text-align: justify;">&ldquo; <strong>MEWUJUDKAN KOTA JAYAPURA SEBAGAI KOTA TUJUAN WISATA &ldquo;.</strong></p>

    <p style="margin-left: 40px;">&nbsp;</p>

    <p style="margin-left: 40px;"><span style="font-size:16px; line-height:25.6px"><strong>M I S I</strong></span></p>

    <p style="margin-left: 40px;">Misi adalah rumusan umum mengenai upaya-upaya yang akan dilaksanakan dan diwujudkan agar tujuan dapat terlaksana dan berhasil dengan baik sesuai dengan visi yang telah ditetapkan. Maka ditetapkan <strong>misi Dinas Kebudayaan Dan Pariwisata Kota Jayapura tahun 2012-2016</strong> adalah :</p>

    <p style="margin-left: 40px;">Membina, mengembangkan dan melestarikan nilai keagamaan dan kekayaan seni dan budaya berbasis kearifan lokal secara berkelanjutan</p>

    <ol style="list-style-type: lower-alpha; margin-left: 40px;">
        <li>Penataan dan pengelolaan obyek wisata yang tertib, teratur dan terarah dalam memenuhi kebutuhan dan minat wisatawan yang berkunjung ke Kota Jayapura yang akan berdampak pada kemandirian dan peningkatan kesejahteraan masyarakat.</li>
        <li>Mengembangkan dan meningkatan kapasitas SDM kebudayaan dan pariwisata (Apatur, swasta &amp; masyarakat) dalam menjawabdinamika pertumbuhan sektor pariwisata di Kota Jayapura.</li>
        <li>Peningkatan pemasaran dan promosi kebudayaan dan pariwisata kota jayapura baik di dalam negeri dan di luar negeri.</li>
        <li>Meningkatkan koordinasi kemitraan dengan pelaku kebudayaan dan pariwisata, instansi terkait dan lembaga lainnya untuk pengembangan kebudayaan dan pariwisata di kota jayapura.</li>
    </ol>

    <p>&nbsp;</p>
</div>

<style type="text/css">
    .fill {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url('../../Images/JayapuraCity.jpg');
    }
</style>